{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Student Tracking System</title>
    <link rel="stylesheet" href="{% static 'css/student1.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/toastr/toastr.min.css'%}">

</head>

<body>

    <input type="checkbox" id="check">
    <div class="main">
        <header>
            <span>Hello GMIT</span>
        </header>
        <ul>
            <li id="middle"><b href="#"><img src="{{StudentData.profilepic.url}}"  >
                    <div><span>{{StudentData.first_name}}
                        {{StudentData.last_name}}</span></div>
                    </h5>
                </b></li>
            <li class="list active"><a href="{% url 'student_profile' %}"><i
                        class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>

            <!-- <li class="list"><a href="#"><i class="fas fa-envelope-open-text"></i><span>Apply for
                        Leave</span></a></li> -->

        </ul>
    </div>
    <div class="content1">
        <div class="menu">

            <header>
                <label for="check"><i class="fa fa-bars" aria-hidden="true"></i></label>
                <span>Management System | Student Login | Student Dashboard</span>
            </header>
            <div class="log">
                <ul>
                    <li><a href="{% url 'signout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                </ul>
            </div>
        </div><br>
        <div class="wrapper">
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->


                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">

                                <!-- Profile Image -->
                                <div class="card card-primary card-outline">
                                    <div class="card-body box-profile">
                                        <div class="text-center">
                                            <img class="profile-user-img img-fluid img-circle" 
                                                src="{{StudentData.profilepic.url}}"  style="height: 130px; width:130px; border: 3px solid #042331; border-radius: 50%; " alt="User profile picture">
                                        </div>

                                        <h3 class="profile-username text-center">{{StudentData.first_name}}
                                            {{StudentData.last_name}}</h3>
                                        <p class="text-muted text-center">{{StudentData.dept}}</p>

                                        <ul class="list-group list-group-unbordered mb-3">
                                            <li class="list-group-item">
                                                <b>Batch:</b>
                                                <p class="text-muted float-right">{{StudentData.yearbatch}}</p>
                                            </li>
                                            <li class="list-group-item">
                                                <b>Reg No:</b>
                                                <p class="text-muted float-right">{{StudentData.regno}}</p>
                                            </li>
                                            <li class="list-group-item">
                                                <b>Roll No:</b>
                                                <p class="text-muted float-right">{{StudentData.enrollment}}</p>
                                            </li>
                                            <li class="list-group-item">
                                                <b>Semester:</b>
                                                <p class="text-muted float-right">{{StudentData.semester}}</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->

                                <!-- About Me Box -->
                                <div class="card card-primary card-inline">
                                    <div class="card-header">
                                        <h3 class="card-title">About Me</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <strong><i class="fas fa-school"></i> Education</strong>

                                        <p class="text-muted">
                                            {{StudentData.education}}
                                        </p>

                                        <hr>

                                        <strong><i class="fas fa-map-marker-alt"></i> Address</strong>
                                    
                                        <p class="text-muted">{{StudentData.address}}<br>
                                            Mobile No.- {{StudentData.phoneno}}
                                        </p>

                                        <hr>

                                        <strong><i class="fas fa-award"></i> Skills</strong>

                                        <p class="text-muted">
                                            {{StudentData.skill}}
                                        </p>

                                        <hr>

                                        <strong><i class="fas fa-project-diagram"></i> Project</strong>

                                        <p class="text-muted">{{StudentData.project}}</p>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-9">
                                <div class="card">
                                    <div class="card-header p-2">

                                        {% block content1 %}
                                        
                                        {% endblock content1 %}

                                    </div><!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="tab-content">

                                            {% block content2 %}
                                            

                                            
                                            {% endblock content2 %}
                                            <!-- /.tab-pane -->
                                        </div>
                                        <!-- /.tab-content -->
                                    </div><!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div><!-- /.container-fluid -->
                </section>
                <!-- /.content -->
            </div>
        </div>
    </div>
    <script>
        function fun(){
            var newPw =document.getElementById("newPw").value;
            var newCPw =document.getElementById("newCPw").value;

            if(newPw==newCPw){
                document.getElementById("demo").innerHTML=" Matched"
                document.getElementById("demo").style.color="green"
            }
            else{
                document.getElementById("demo").innerHTML="Not  Matched"
                document.getElementById("demo").style.color="red"
            }
        }

    </script>
    <script src="{% static 'plugins/jquery/jquery.min.js'%}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'plugins/toastr/toastr.min.js'%}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'dist/js/adminlte.min.js'%}"></script>


    {% if messages %}

    {% for message in messages %}

    {% if message.tags == 'success'%}
    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>

    {% elif message.tags == 'info' %}
    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>

    {% elif message.tags == 'warning' %}
    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>

    {% elif message.tags == 'error' %}
    <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
    {% endif %}


    {% endfor %}

    {% endif %}

    {% if form.errors %}
    <script type=text/javascript>toastr.error('{{ form.errors|escape }}')</script>
    {% endif %}
    
    {% block script %}
    
    {% endblock script %}
</body>

</html>